.header{
  padding-top: 20px;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #4793FF;
  }
  &__right{
    display: flex;
    column-gap: 25px;
    align-items: center;
    &-search{
      background: #4F4F4F;
      border-radius: 10px;
      padding: 9px 20px;
      border: none;
      outline: none;
      &::placeholder{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}